---
layout: default
title: Home
comments: false
---

<h1 class="page-title">Projects</h1>

<div class="message page-message">
	<img src="assets/2015/03/george-arliss-150x150.jpg" width="150" class="img-left">
	<p>Hey there! This is me. I wear a monocle. And here's some of the funky stuff I've been working on at <a href="http://metro.co.uk">metro.co.uk</a>.</p>
	<p>(And you may be enthralled by this 2013 post about our adventures creating a <a href="/metro-responsive-swipe">swipeable responsive UI</a>.)</p>
</div>

<div class="post-list row">
	{% if site.tags['projects'] %}
        {% for post in site.tags['projects'] %}
		<article class="teaser col">
			<a href="{{ post.url }}" class="post-list-thumb"><img class="thumbnail" src="{{ post.thumbnail }}" /></a>
			<a href="{{ post.url }}" class="post-list-title">{{ post.title }}</a>
		</article>
		{% endfor %}
	{% endif %}
</div>

